# MongoDB connection string
MONGODB_URI="mongodb://root:root@localhost:27018/?authSource=admin"

# Subgraph URLs
POINTS_SUBGRAPH_URL_V2="http://localhost:8000/subgraphs/name/asterswap-v2-bsc"
POINTS_SUBGRAPH_URL_V3="http://localhost:8000/subgraphs/name/asterswap-v3-bsc"

# Chain ID
POINTS_CHAIN_ID="56"

# Fees snapshot interval
# Time interval for when we will take a snapshot of the total fees earned by the protocol
# Supports: "1h", "6h", "1d", "2w", "30m", "900s"
FEES_SNAPSHOT_INTERVAL="1d"
