MONGODB_URI="mongodb://root:root@localhost:27018/?authSource=admin"
POINTS_SUBGRAPH_URL_V2="http://localhost:8000/subgraphs/name/asterswap-v2"
POINTS_SUBGRAPH_URL_V3="http://localhost:8000/subgraphs/name/asterswap-v3"
POINTS_CHAIN_ID="56"
