MONGODB_URI="mongodb://root:root@localhost:27018/?authSource=admin"

# RPC config (Infura)
INFURA_API_KEY=""
RPC_URL=""
CHAIN_ID=56
REORG_SAFETY_BLOCKS=5
INDEXER_POLL_MS=10000

CORS_ORIGIN=http://localhost:3000

